<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Calculator
    body
        .wrap
            form(name="calculator").calculator
                .viewer
                .calculator__btns.numbers
                    button(value="7" type="button").btn.numbers__btn 7
                    button(value="8" type="button").btn.numbers__btn 8
                    button(value="9" type="button").btn.numbers__btn 9
                    button(value="4" type="button").btn.numbers__btn 4
                    button(value="5" type="button").btn.numbers__btn 5
                    button(value="6" type="button").btn.numbers__btn 6
                    button(value="1" type="button").btn.numbers__btn 1
                    button(value="2" type="button").btn.numbers__btn 2
                    button(value="3" type="button").btn.numbers__btn 3
                    button(value="0" type="button").btn.numbers__btn.numbers__btn_stretched 0
                    button(value="." type="button").btn.numbers__btn .
                .calculator__btns.actions
                    button(value="/" type="button").btn.actions__btn /
                    button(value="c" type="button").btn.actions__btn c
                    button(value="x" type="button").btn.actions__btn x
                    button(value="<" type="button").btn.actions__btn <
                    button(value="+" type="button").btn.actions__btn +
                    button(value="-" type="button").btn.actions__btn -
                    button(value="=S" type="button").btn.actions__btn.actions__btn_stretched =






