<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Calculator
    body
        .wrap
            form(name="calculator").calculator
                .viewer 12+3
                .calc__btns.numbers
                    button(value="C" type="button").btn.numbers__btn 7
                    button(value="C" type="button").btn.numbers__btn 8
                    button(value="C" type="button").btn.numbers__btn 9
                    button(value="C" type="button").btn.numbers__btn 4
                    button(value="C" type="button").btn.numbers__btn 5
                    button(value="C" type="button").btn.numbers__btn 6
                    button(value="C" type="button").btn.numbers__btn 1
                    button(value="C" type="button").btn.numbers__btn 2
                    button(value="C" type="button").btn.numbers__btn 3
                    button(value="C" type="button").btn.numbers__btn.btn_stretched 0
                    button(value="C" type="button").btn.numbers__btn .
                .calc__btns.actions
                    button(value="C" type="button").btn.actions__btn
                    button(value="C" type="button").btn.actions__btn
                    button(value="C" type="button").btn.actions__btn
                    button(value="C" type="button").btn.actions__btn
                    button(value="C" type="button").btn.actions__btn
                    button(value="C" type="button").btn.actions__btn
                    button(value="C" type="button").btn.actions__btn.btn_stretched






